.result_section,
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  margin-bottom: 5px;
}

.result_section div {
  background-color: #fff;
  margin: 5px 0;
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 10px;
  width: 40%;
}

#income,
#expense {
  display: block;
  text-align: right;
  font-weight: bold;
}

#expense {
  color: #dc143a;
}

#income {
  color: #5a8d03;
}
