.transaction_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #393e46;
  border-radius: 5px;
  margin-bottom: 5px;
  border-right-width: 6px;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove_icon,
.edit_icon {
  margin-left: 8px;
  cursor: pointer;
}

.remove_icon {
  color: #dc143a;
}

.edit_icon {
  color: rgb(250, 148, 15);
}
